# Assignment 1
#1. In the below elements which of them are values or an expression? eg:- values can be
    integer or string and expressions will be mathematical operators.
   *,'hello',-87.8,-,/,+,6
   
   Ans. Expression: 'hello',-87.8,6 
        Mathematical operators: *,-,/,+ 

#2. What is the difference between string and variable?
   Ans. A string is a collection of one or more character put in a single quotes, double quotes or triple quotes.
        Variables are symbols that can be use to store data in a program. 
        A Variable is a store of information, and a String is a type of information that would store in a Variable.  

#3. Describe three different data types.
 
   Ans. Three data type are as follows:-
      Integers – This value is represented by int class. It contains positive or negative whole numbers. for example- 5
      Float – This value is represented by float class. It is a real number with floating point representation. 
      It is specified by a decimal point. for example- 4.5
      Complex Numbers – Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For       example– 2+3j
#4. What is an expression made up of? What do all expressions do?
   Ans. An expression is a combination of operators and operands that is interpreted to produce some other value.

In [4]:
#for example
a = 10
b = 14
c = 12
  
d = a * b - c + 5
print(d)

133

#5. This assignment statements, like spam = 10. What is the difference between an
   expression and a statement?

Ans. In python, an expression is any legal combination of symbols (like a variable, constants, and operators) representing a          value. An expression must have at least one operand (variable or constant) and have one or more operators.
     After evaluating an expression, we get a value.

     For example, x+y*z-8 is an example of an expression, where +, * are operators; x, y, and z are variables, and 8 is a            constant.

     A statement is an instruction that the Python interpreter can execute. We have assignment statement,
     while statements,for statements, if statements, and import statements. 
     for example  a=5 is a assignment statement

#6. After running the following code, what does the variable bacon contain?
   bacon = 22
   bacon + 1
   Ans.

In [1]:
bacon = 22
bacon + 1 
print(bacon)

22

#7. What should the values of the following two terms be?
    'spam'+'spamspam'
    'spam'*3
   Ans.

In [2]:
'spam'+'spamspam'
'spam'*3

'spamspamspam'

#8. Why is eggs a valid variable name while 100 is invalid?

    Ans. A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).
         Rules for python variable.     
         A variable name must start with a letter or the underscore character
         A variable name cannot start with a number
         A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
         Variable names are case-sensitive (age, Age and AGE are three different variables)

In [7]:
eggs=20 
print(eggs)

20

In [8]:
# number cannot be variable:
100=20
print(100)

SyntaxError: cannot assign to literal (1162644884.py, line 1)

#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

    Ans. int(),float(),str()

In [13]:
a=1

In [10]:
type(a)

int

In [14]:
float(a)

1.0

In [15]:
str(a)

'1'

In [16]:
int(a)

1

#10. Why does this expression cause an error? How can you fix it?
     'I have eaten' + 99 + 'burritos.'

In [17]:
#Ans.
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [19]:
# have to convert 99 into string
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'